h1 {
        font-weight: bold;
    font-size: 3rem;
    text-align: center;
    background: linear-gradient(to right, rgb(168, 85, 247), rgb(236, 72, 153));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

p {
    color: #898989;
    text-align: center;
    font-size: 1.4rem;
}

.create-post{
    border: solid 1px black;
    border-radius: 1rem;
    width: 80%;
    margin: auto;
    padding: 2rem;

    form {
        display: flex;
        flex-direction: row;
        .icon {
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color:white;
            border: solid 1px black;

            img {
                border-radius: 50%;
                filter: invert(0);
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
        textarea {
            flex: 1;
            margin: 0 1rem;
            padding: 0.5rem;
            border-radius: 0.5rem;
            border: solid 1px black;
        }
        button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 10rem;
            height: 2.5rem;
            font-weight: bold;
            font-size: 1rem;
            border-radius: 1rem;
            border: none;
            background: linear-gradient(to right, rgb(168, 85, 247), rgb(236, 72, 153));
            color: white;
            gap: 0.7rem;
            cursor: pointer;
            transition: 0.2s;
            margin-left: 1rem;

            &:hover {
              transform: scale(1.05);
            }

            .icon {
                width: 1.5rem;
                height: 1.5rem;
                background: transparent;
                border: none;

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    filter: invert(100);
                }
            }
        }
    }
}