<h1>Share your thoughts</h1>
<p>Show your opinions and connect with others in our community feed.</p>

<section class="create-post">
    <form 
    [formGroup]="postsForm"
    (click)="onSubmit()"
    >
    <div class="icon"><img src="assets/Profiles/Person1.jpg" alt=""></div>
    <textarea formControlName="comment"></textarea>

    postImg
    <button type="submit"><div class="icon"><img src="assets/icons/feed/send.png" alt=""></div>Share</button>
    </form>
</section>

  @for (post of posts | async; track post._id) {
    <div class="post-box">
      <div class="user-information">
        <div class="icon"><img [src]="post.userName.userImg" alt="" /></div>
        <div class="user-event">
          <h3>{{ post.userName.userName }}</h3>
          <p class="date">{{ post.createdAt }}</p>
          <h4>{{ post.eventName.eventName }}</h4>
        </div>
      </div>
      <p class="description">{{ post.eventName.eventDescription }}</p>
      @if (post.postImg) {
        <div class="post-img"><img src="" alt="" /></div>
      }
    </div>
  }
