<h1>Share your thoughts</h1>
<p>Show your opinions and connect with others in our community feed.</p>

<section class="create-post">
    <form 
    [formGroup]="postsForm"
    (click)="onSubmit()"
    >
    <div class="icon"><img [src]="userInfo.userImg" alt=""></div>
    <textarea formControlName="comment"></textarea>

    <input type="file" accept="image/*" (change)="onFileChange($event)">

    <button type="submit">Share</button>
    </form>
</section>

  @for (post of posts | async; track post._id) {
    <div class="post-box">
      <div class="user-information">
        <div class="icon"><img [src]="post.userName.userImg" alt="" /></div>
        <div class="user-event">
          <h3>{{ post.userName.userName }}</h3>
          <p class="date">{{ post.createdAt | date: 'dd MMMM yyyy' }}</p>
          <p class="date">{{ post.createdAt | date: 'HH:mm' }}</p>
          <h4>{{ post.comment }}</h4>
        </div>
      </div>
      @if (post.postImg) {
         <div class="post-img"><img [src]="post.postImg" alt="post image" /></div>
      }
    </div>
  }
