form {
  display: flex;
  flex-direction: column;
  border-radius: 28px;
  box-shadow:
    29px 29px 49px #9d9d9d,
    -29px -29px 49px #ffffff;
  min-width: 25rem;
  width: 75%;
  height: auto;
  padding: 2rem;
  gap: 0.5rem;
    h1 {
    margin: 0;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
  }
  p {
    font-size: 1rem;
    color: rgb(97, 97, 97);
    font-weight: lighter;
    margin-bottom: 0;
    text-align: center;
    }
.rol{
    display: flex;
    justify-content: center;
    width: 100%;
    button {
        width: 40%;
        height: 2rem;
        border-radius: 1.5rem;
        border: none;
        font-weight: bold;
        cursor: pointer;
    }
}
    
}
