form {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: auto;
  
  gap: 0.5rem;


  .box, .social-media {
    display: flex;
    flex-direction: column;
    padding: 0 10rem;

    input {
      border-radius: 1.5rem;
      height: 2rem;
      border: dotted #686868 0.1rem;
      margin: 0 0 1.5rem 0;
    }

    label {
      font-weight: bold;
      padding: 0 0 0 1rem;
    }
  }

  h3 {
    margin: 0 0 2rem 0;
    padding: 0 0 0 3rem;
    font-size: 2rem;
  }

  .submitButton{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

      button{
        color: white;
        font-weight: bold;
        font-size: 1.6rem;
        -webkit-text-stroke: black 0.01rem;
        width: 25rem;
        min-width: 15rem;
        height: 3rem;
        border-radius: 4rem;
        background-color: rgb(255, 140, 140);
        cursor: pointer;
        transition: 0.2s;

        &:hover{
          transform: scale(1.05);
          background-color: rgb(255, 85, 85)
        }
      }
      
  }

}