.initialbuttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 5rem 0 5rem 0;
  background-color: #eeebff;
  h1 {
    font-weight: bold;
    font-size: 6rem;
    text-align: center;
    background: linear-gradient(to right, rgb(168, 85, 247), rgb(236, 72, 153));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .explanation {
    color: #898989;
    text-align: center;
    font-size: 1.4rem;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18rem;
    height: 3rem;
    font-weight: bold;
    font-size: 1.4rem;
    border-radius: 1rem;
    border: none;
    background: linear-gradient(to right, rgb(168, 85, 247), rgb(236, 72, 153));
    color: white;
    gap: 0.7rem;
    cursor: pointer;
    transition: 0.2s;
    margin: 3rem 0 0 0;

    &:hover {
      transform: scale(1.05);
    }
  }
}

.estadistic {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 6rem 0 4rem 0;
  background-color: #eeebff;

  .users,
  .events,
  .connections {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1.5rem;
    width: 30%;
    height: 10rem;
    background-color: white;
    transition: 0.2s;

    &:hover {
      box-shadow: 0.5rem 0.5rem 0.5rem #545454;
    }

    p {
      color: #898989;
      font-size: 1rem;
    }
  }

  .users h3 {
    font-size: 3.5rem;
    font-weight: bold;
    margin: 0;
    color: rgb(168, 85, 247);
  }

  .events h3 {
    font-size: 3.5rem;
    font-weight: bold;
    margin: 0;
    color: rgb(236, 72, 153);
  }

  .connections h3 {
    font-size: 3.5rem;
    font-weight: bold;
    margin: 0;
    color: rgb(72, 132, 236);
  }
}

.app-features {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2,
  p {
    width: auto;
    text-align: center;
    margin: 0;
  }

  h2 {
    font-size: 3rem;
    margin: 2rem 0 0 2rem;
  }

  p {
    font-size: 1.5rem;
    color: #898989;
  }
  .features {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2rem;
    margin: 2rem 0;

    .feature-box1,
    .feature-box2,
    .feature-box3,
    .feature-box4,
    .feature-box5,
    .feature-box6 {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 23%;
      height: 15rem;
      border: solid black 1px;
      border-radius: 2rem;
      padding: 1rem;
    }
    .feature-box1 {
      border: solid rgba(128, 0, 128, 0.356) 0.1rem;
      .icon {
        border: solid rgba(128, 0, 128, 0.356) 0.1rem;
        border-radius: 1rem;
        background-color: rgba(128, 0, 128, 0.356);
        padding: 1rem;
        }
              &:hover {
          background-color: rgba(128, 0, 128, 0.108);
          border: solid rgba(128, 0, 128, 0.556) 0.1rem;
      }
    }
    .feature-box2 {
      border: solid rgba(21, 0, 255, 0.356) 0.1rem;
      .icon {
        border: solid rgba(21, 0, 255, 0.356) 0.1rem;
        border-radius: 1rem;
        background-color: rgba(21, 0, 255, 0.356);
        padding: 1rem;
      }
        &:hover {
            background-color: rgba(21, 0, 255, 0.108);
            border: solid rgba(21, 0, 255, 0.556) 0.1rem;
        }
    }
    .feature-box3 {
      border: solid rgba(247, 3, 202, 0.356) 0.1rem;
      .icon {
        border: solid rgba(247, 3, 202, 0.356) 0.1rem;
        border-radius: 1rem;
        background-color: rgba(247, 3, 202, 0.356);
        padding: 1rem;
      }
        &:hover {
            background-color: rgba(247, 3, 202, 0.108);
            border: solid rgba(247, 3, 202, 0.556) 0.1rem;
        }
    }
    .feature-box4 {
      border: solid rgba(34, 255, 0, 0.356) 0.1rem;
      .icon {
        border: solid rgba(34, 255, 0, 0.356) 0.1rem;
        border-radius: 1rem;
        background-color: rgba(34, 255, 0, 0.356);
        padding: 1rem;
      }
        &:hover {
            background-color: rgba(34, 255, 0, 0.108);
            border: solid rgba(34, 255, 0, 0.556) 0.1rem;
        }
    }
    .feature-box5 {
      border: solid rgba(255, 106, 0, 0.356) 0.1rem;
      .icon {
        border: solid rgba(255, 106, 0, 0.356) 0.1rem;
        border-radius: 1rem;
        background-color: rgba(255, 106, 0, 0.356);
        padding: 1rem;
      }
        &:hover {
            background-color: rgba(255, 106, 0, 0.108);
            border: solid rgba(255, 106, 0, 0.556) 0.1rem;
        }
    }
    .feature-box6 {
      border: solid rgba(0, 255, 217, 0.356) 0.1rem;
      .icon {
        border: solid rgba(0, 255, 217, 0.356) 0.1rem;
        border-radius: 1rem;
        background-color: rgba(0, 186, 158, 0.356);
        padding: 1rem;
      }
        &:hover {
            background-color: rgba(0, 186, 158, 0.108);
            border: solid rgba(0, 186, 158, 0.556) 0.1rem;}
    }
  }
}

.instructions {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: #eeebff;
  padding: 3rem 0;

  .titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 4rem 0;
    h2 {
      font-size: 3rem;
      margin: 2rem 0 0 2rem;
    }

    p {
      font-size: 1.5rem;
      color: #898989;
      margin: 0;
    }
  }
  .instruction-box {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 23%;
    padding-bottom: 3rem;

    h3 {
      font-weight: bold;
      font-size: 2.5rem;
    }

    p {
      color: #898989;
      font-size: 1.2rem;
      text-align: center;
      margin: 0;
    }

    .circle {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      background-color: rgb(85, 247, 104);
      color: white;
      font-weight: bold;
      font-size: 2rem;
    }
  }
}

.store-home {
  border: solid black 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 70%;
  margin: 2rem auto;
  padding: 5.5rem 2rem 2rem 2rem;
  position: relative;
  border: solid rgba(255, 106, 0, 0.356) 0.1rem;
  border-radius: 1.5rem;
  background-color: rgba(255, 162, 0, 0.153);

  .storesfeatureImage {
    position: absolute;
    top: 1.1rem;
    right: 2rem;
    width: 40%;
    height: 90%;
    border-radius: 1.5rem;
    border: solid rgba(255, 106, 0, 0.356) 0.1rem;
    background-color: rgba(255, 162, 0, 0.153);

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 1.5rem;
    }
  }

  .logo{
    position: absolute;
    top: 1.1rem;
    left: 2rem;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:white;
    border: solid rgba(255, 106, 0, 0.356) 0.1rem;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  h3 {
    font-size: 2rem;
    font-weight: bold;
    margin: 2rem 0 0 0;
  }

  p {
    color: #898989;
    font-size: 1.2rem;
    margin: 0.5rem 0 2rem 0;
    width: 50%;
  }
  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;
    list-style: none;

    .storefeature {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      li {
        color: black;
      }
    }
  }
  .register-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 3rem;
    font-weight: bold;
    font-size: 1.4rem;
    border-radius: 1rem;
    border: none;
    background: linear-gradient(to right, rgb(247, 161, 85), rgb(174, 255, 0));
    color: white;
    gap: 0.7rem;
    cursor: pointer;
    transition: 0.2s;
    margin: 2rem 0 0 0;

    button {
      width: 100%;
      height: 100%;
      border: none;
      background: none;
      color: white;
      font-weight: bold;
      font-size: 0.8rem;
      cursor: pointer;
      -webkit-text-stroke: 0.02rem black;
    }

    &:hover {
      transform: scale(1.05);
    }
  }
}
