
<div class="card-position">
@for(event of events ; track events){
<div class="card">
    <div class="event-img">
        <img src="assets/images/event-card/camino_mamifero.jpg" alt="">
    </div>
    <h3 class="name">{{event.eventName}}</h3>
    <p>{{event.eventDescription}}</p>
    
    <ul>
        <li>{{event.date | date: 'dd MMMM yyyy'}}</li>
        <li>{{event.date | date: 'HH:mm'}}</li>
        <li>{{event.location}}</li>
        <li>{{event.attendees}}</li>
    </ul>
    <button (click)="addAttendee(event._id)">Asistir</button>
</div>
}
</div>