    <div class="box">
      <label for="name">Full Name</label>
      <input type="text" formControlName="name" />
    </div>
    <div class="box">
      <label for="email">Email</label>
      <input type="email" formControlName="email"/>
    </div>
    <div class="box">
      <label for="password">Password</label>
      <input type="password" formControlName="password"/>
    </div>
    <div class="box">
      <label for="phone">Phone</label>
      <input type="tel" formControlName="phone"/>
    </div>
    <div class="box">
      <label for="location">Location</label>
      <input type="text" formControlName="location"/>
    </div>
    <div class="box">
      <label for="biography">Biography</label>
      <input type="text" formControlName="description"/>
    </div>