.login-box{
    position: relative;
    background-color: #eeebff;
    height: 100vh;
    

.info {
        position: relative;
        padding: 6rem 2rem 2rem 2rem;


    .logo{
        position: absolute;
        top: 1.5rem;
        left: 2rem;
        cursor: pointer;

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
    }

    h2{
    font-weight: bold;
    font-size: 3rem;
    text-align: start;
    background: linear-gradient(to right, rgb(168, 85, 247), rgb(236, 72, 153));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 50%;
    }
    p {
        color: #898989;
        font-size: 1.5rem;
        width: 50%;
    }
    ul {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin: 2rem 0 0 0;

        .loginfeature{
            display: flex;
            align-items: center;
            gap: 0.5rem;
                li{
                    list-style: none;
                    h3{
                        font-size: 1.5rem;
                        font-weight: bold;
                        margin: 0 0 0.5rem 0;
                    }
                    p {
                        color: #898989;
                        font-size: 1rem;
                        margin: 0 0 1rem 1rem;
                        width: 100%;
                    }
                }
        }
     }
    }

.login-form {
    position: absolute;
    top: 50%;
    right: -5%;
    transform: translate(-50%, -50%);
}
}

