@if (httpAuth.currentUser$ | async; as user) {
    <p>Current User: {{ user.name }}</p>
  

<button (click)="editProfile()">Edit Profile</button>
@if (editMode) {
    <!-- TODO: Formulario de edición de perfil -->
  <button (click)="cancelEditProfile()">Cancel Edit</button>
} 
@else {
  <section class="personal-info">
    <div class="backround"></div>
    <div class="profile-info">
      <h3>{{user.name}}</h3>
      <div class="profile-picture"><img src="assets/Profiles/Person2.jpg" alt=""></div>

    <p>{{user.description}}</p>

    <ul>
      <li>
        <div class="email-box">
        <div class="icon"><img src="assets/icons/profile-page/mail.png" alt="email" /></div>
        <p>{{user.email}}</p>
        </div>
      </li>
      <li>
        <div class="address-box">
        <div class="icon"><img src="assets/icons/profile-page/address.png" alt="address" /></div>
        <p>{{user.location}}</p>
        </div>
      </li>
    </ul>
    </div>
  </section>
}

<section class="estadistics">
  <div class="events">
    <h3>Numero</h3>
    <p>Attended Events</p>
  </div>
  <div class="connections">
        <h3>Numero</h3>
    <p>Connections</p>
  </div>
</section>

@for(user of Object.entries(user); track user._id){
  <div class="post-box">
    <div class="icon"><img src="" alt=""></div>
    <h3>{{user.name}}</h3>
    <p class="date">{{user.date}}</p>
    <h4>{{event.name}}</h4>
    <p class="description">{{event.description}}</p>
    <div class="post-img"><img src="" alt=""></div>
  </div>
}





<section class="delete-account">
  <div class="delete-texts">
  <h3>Delete Account</h3>
  <p>This action will delete permanently your account and data. Please be sure this is a wanted action</p>
  </div>
  <button (click)="deleteProfile(this.posts._id)">Delete</button>
</section>

}

