<!-- <pre>
  {{ posts | async}}
</pre> -->

@if (httpAuth.currentUser$ | async; as user) {
  <!-- <p>Current User: {{ user.userName }}</p> -->

  @if (editMode) {
    <!-- TODO: Formulario de edición de perfil -->

    <editForm></editForm>
    <button class="cancel-edit"(click)="cancelEditProfile()">Cancel Edit</button>
  } @else {
    <section class="personal-info">
      @if (!this.editMode) {
        <button class="edit-button" (click)="editProfile()">
          Edit Profile
        </button>
      }
      <div class="backround"></div>
      <div class="profile-info">
        <h3>{{ user.userName }}</h3>
        <div class="profile-picture"><img [src]="user.userImg" alt="" /></div>

        <p>{{ user.description }}</p>

        <ul>
          <li>
            <div class="email-box">
              <div class="icon"><img src="assets/icons/profile-page/mail.png" alt="email" /></div>
              <p>{{ user.email }}</p>
            </div>
          </li>
          <li>
            <div class="address-box">
              <div class="icon">
                <img src="assets/icons/profile-page/address.png" alt="address" />
              </div>
              <p>{{ user.location }}</p>
            </div>
          </li>
        </ul>
      </div>
    </section>
  }

  <section class="estadistics">
    @if (user.instagramLink) {
      <div class="events">
        <h3>Instagram</h3>
        <p>{{ user.instagramLink }}</p>
      </div>
    }
    @if (user.facebookLink) {
      <div class="connections">
        <h3>Facebook</h3>
        <p>{{ user.facebookLink }}</p>
      </div>
    }
    @if (user.xLink) {
      <div class="events">
        <h3>X</h3>
        <p>{{ user.xLink }}</p>
      </div>
    }
    @if (user.tiktokLink) {
      <div class="connections">
        <h3>Tik Tok</h3>
        <p>{{ user.tiktokLink }}</p>
      </div>
    }
  </section>

  @for (post of posts; track post._id) {
    <div class="post-box">
      <div class="user-information">
        <div class="icon"><img [src]="post.userName.userImg" alt="" /></div>
        <div class="user-event">
          <h3>{{ post.userName.userName }}</h3>
          <p class="date">{{ post.createdAt | date: 'dd MMMM yyyy' }}</p>
          <p class="date">{{ post.createdAt | date:'HH:mm'}}</p>
        </div>
      </div>
      <p class="description">{{ post.comment }}</p>
      @if (post.postImg) {
        <div class="post-img"><img [src]="post.postImg" alt="" /></div>
      }
    </div>
  }

  <section class="delete-account">
    <div class="delete-texts">
      <h3>Delete Account</h3>
      <p>
        This action will delete permanently your account and data. Please be sure this is a wanted
        action
      </p>
    </div>
    <button (click)="deleteProfile(user._id)">Delete</button>
  </section>
}
