.formPosition{
  display: flex;
  justify-content: center;
  align-items: center;

form {
  display: flex;
  flex-direction: column;
  border-radius: 28px;
  box-shadow:
    29px 29px 49px #9d9d9d,
    -29px -29px 49px #ffffff;
  min-width: 25rem;
  width: 60%;
  height: auto;
  padding: 2rem;
  gap: 0.5rem;

  h1 {
    margin: 0;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
  }

  p {
    font-size: 1rem;
    color: rgb(97, 97, 97);
    font-weight: lighter;
    margin-bottom: 0;
    text-align: center;
  }

  .rol{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2.5rem;
    background-color: rgb(233, 233, 233);
    border-radius: 2rem;
    margin: 0 0 2rem 0;
    gap: 1rem;

    button {
      width: 45%;
      height: 1.5rem;
      border-radius: 1.5rem;
      border: none;
      font-weight: bold;
      cursor: pointer;
      background-color: transparent;
      transition: 0.2s;

      &:focus {
        background-color: rgb(255, 255, 255);
        transform: scale(1.16);
      }
    }
  }

  .box, .social-media {
    display: flex;
    flex-direction: column;
    padding: 0 10rem;

    input {
      border-radius: 1.5rem;
      height: 2rem;
      border: dotted #686868 0.1rem;
      margin: 0 0 1.5rem 0;
    }

    label {
      font-weight: bold;
      padding: 0 0 0 1rem;
    }
  }

  h3 {
    margin: 0 0 2rem 0;
    padding: 0 0 0 3rem;
    font-size: 2rem;
  }

  .submitButton{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

      button{
        color: white;
        font-weight: bold;
        font-size: 1.6rem;
        -webkit-text-stroke: black 0.01rem;
        width: 25rem;
        min-width: 15rem;
        height: 3rem;
        border-radius: 4rem;
        background-color: rgb(255, 140, 140);
        cursor: pointer;
        transition: 0.2s;

        &:hover{
          transform: scale(1.05);
          background-color: rgb(255, 85, 85)
        }
      }
      
  }

}

}
