.formPosition{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 60%;
  border-radius: 28px;
  box-shadow:
    29px 29px 49px #9d9d9d,
    -29px -29px 49px #ffffff;
  padding: 2rem;
  margin: auto;
  
  h1 {
    margin: 0;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
  }

  p {
    font-size: 1rem;
    color: rgb(97, 97, 97);
    font-weight: lighter;
    margin-bottom: 0;
    text-align: center;
  }
  
  h3 {
    margin: 0 0 4rem 0;
    padding: 0 0 0 3rem;
    font-size: 2rem;}

  .rol{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2.5rem;
    background-color: rgb(233, 233, 233);
    border-radius: 2rem;
    margin: 0 0 2rem 0;
    gap: 1rem;

    button {
      width: 45%;
      height: 1.5rem;
      border-radius: 1.5rem;
      border: none;
      font-weight: bold;
      cursor: pointer;
      background-color: transparent;
      transition: 0.2s;

      &:focus {
        background-color: rgb(255, 255, 255);
        transform: scale(1.16);
      }
    }
  }

}
