
.overallBorder{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 800px;


form {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    border: solid black 1px;
    width: 400px;
    height: 70%;

    .main-title {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .bigBox {
        padding-left: 20px;
        
        .box {
            display: flex;
            flex-direction: column;
            margin-top: 20px;
        }
    }
}

}

