<form [formGroup]="editForm" (ngSubmit)="onSubmit()">
  <section class="personal-info">
    <div class="backround"></div>
    <div class="profile-info">
      @if(httpAuth.currentUser$ | async; as user){
    <div class="profile-picture">
        <img [src]="user?.userImg" alt="" />
    </div>
}
      <div class="edit-user-name">
        <label for="userName">Name</label>
        <input type="text" formControlName="userName" />
      </div>
      <div class="edit-description">
        <label for="description">Description</label>
        <textarea  formControlName="description"></textarea>
      </div>
      <div class="email-box">
        <label for="email">Email</label>
        <input type="email" formControlName="email" />
      </div>
      <div class="address-box">
        <label for="location">Location</label>
        <input type="text" formControlName="location" />
      </div>
    </div>
  </section>
  <button type="submit">Submit</button>
</form>
