<form [formGroup]="editForm" (click)="onSubmit()">
  <section class="personal-info">
    <div class="backround"></div>
    <div class="profile-info">
      <div class="profile-picture"><img src="assets/Profiles/Person2.jpg" alt="" /></div>
      <div class="edit-user-name">
        <label for="userName">Name</label>
        <input type="text" formControlName="userName" />
      </div>
      <div class="edit-description">
        <label for="description">Description</label>
        <textarea  formControlName="description"></textarea>
      </div>
      <div class="email-box">
        <label for="email">Email</label>
        <input type="email" formControlName="email" />
      </div>
      <div class="address-box">
        <label for="location">Location</label>
        <input type="text" formControlName="location" />
      </div>
    </div>
  </section>
  <button type="submit">Submit</button>
</form>
