form {
  display: flex;
  flex-direction: column;
  border-radius: 28px;
  box-shadow:
    29px 29px 49px #9d9d9d,
    -29px -29px 49px #ffffff;
  min-width: 25rem;
  width: 25rem;
  height: auto;
  padding: 2rem;
  gap: 0.5rem;
  background-color: white;

  h1 {
    margin: 0;
    font-size: 1.8rem;
    font-weight: bold;
  }
  p {
    font-size: 1rem;
    color: rgb(97, 97, 97);
    font-weight: lighter;
    margin-bottom: 0;
  }
  .overallRol {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 7rem;
    background-color: rgb(235, 235, 235);
    border-radius: 1.2rem;
    margin: 1rem 0;
    height: 1.7rem;

    .rol {
      font-weight: bold;
    }
  }
  .email,
  .password {
    display: flex;
    flex-direction: column;
    margin: 0 0 1rem 1.5rem;
    gap: 0.5rem;

    input {
      width: 85%;
      height: 1.5rem;
      border-radius: 0.8rem;
      border: solid 1px gray;
    }

    label {
      font-weight: bold;
    }
  }
  .actionButtons {
    width: 100%;
    button {
      width: 100%;
      font-weight: bold;
      color: white;
      height: 2rem;
      border: none;
      border-radius: 1rem;
      background: linear-gradient(to right, rgb(168, 85, 247), rgb(236, 72, 153));
      cursor: pointer;
    }
  }
  .actionLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.75rem;
    width: 100%;
    margin-top: 1rem;

    h3 {
      font-weight: lighter;
      color: gray;
      font-size: 0.75rem;
    }
    a {
      text-decoration: none;
      font-weight: bold;
      color: black;
    }
  }
}
