<form action="">
    <h1>Iniciar Sesion</h1>
    <p>Elige cómo quieres ingresar a Lume</p>
  <div class="overallRol">
    <div class="rol">
      <label for="rol">Usuario</label>
      <input type="radio" name="" id="" />
    </div>
    <div class="rol">
      <label for="rol">Tienda</label>
      <input type="radio" name="" id="" />
    </div>
  </div>
  <div class="email">
    <label for="email">Email</label>
    <input type="email" />
  </div>
  <div class="password">
    <label for="password">Password</label>
    <input type="password" />
  </div>

  <div class="actionButtons">
    <button>Login as a user →</button>
  </div>
  <div class="actionLinks">
    <a href="">Forgot your password?</a>
    <h3>Have not created an account yet?</h3>
    <a routerLink="/register">Create user account</a>
  </div>
</form>
