@if (this.role == 'user') {
  <div class="user-header">
    <div class="logo" routerLink="/feed/main"><img src="/assets/images/LumeLogo.png" alt="" /></div>

    <button (click)="onLogout()">Logout</button>
  </div>
  
} @else {
   <div class="store-header">
    <div class="logo" routerLink="/feed/main"><img src="/assets/images/LumeLogo.png" alt="" /></div>
    <div class="store-information">
      <h3>Nombre de la tienda</h3>
      <p>Description Store</p>
    </div>

    <div class="logout" (click)="onLogout()">Logout →|</div>
  </div>
}
