.user-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;

    &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1.3rem; /* Grosor del borde */
    background: linear-gradient(
      to top,
      rgb(168, 85, 247),
      rgb(236, 72, 153),
      transparent
    );
  }

  .logo{
    cursor: pointer;
    

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  
    

    button {
        position: absolute;
        width: 7rem;
        height: 2rem;
        top: 2rem;
        border-radius: 1rem;
        border: solid 0.1rem rgb(255, 0, 0);
        background-color: red;
        font-weight: bold;
        color: white;
        -webkit-text-stroke: black 0.01rem;
        right: 10rem;
        cursor: pointer;
        transition: 0.2s ease-in-out;

        &:hover {
            transform: scale(1.1);
            background-color: red;
        }
    }
    
}

.store-header{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    position: relative;
    background-color: orange;
    padding: 1rem;
    gap: 2rem;

      .logo{
    cursor: pointer;
    margin-left: 3rem;
  }
  .store-information{
    h3{
      font-weight: bolder;
      font-size: 2rem;
      color: white;
      margin: 0;
    }
    p {
      font-size: 1.5rem;
      color: rgba(230, 230, 230, 0.812);
      margin: 0

    }


  }
  .logout{
    position: absolute;
    font-size: 1.5rem;
    top: 3rem;
    right: 10rem;
    color: white;
    font-weight: bold;
    cursor: pointer;

    &:hover{
      color:rgba(230, 230, 230, 0.812);
    }
  }

  }


  
    

   
    
